@page "/"
@using OmicronSocial.Data.Schemas
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<RequireLogin RedirectToLogin="false" Callback="OnLogin"></RequireLogin>

<PageTitle>Omicron Social</PageTitle>

<div class="full-height">
    <center>
        <div class="full-height">
            <div class="text-light">
                <img src="header.png" height="30%" width="30%" alt="image"/>
            </div>

            <div>
                <button class="connect-button btn btn-primary" @onclick="Connect">Connect</button>
            </div>

            <div class="p-5">
                <h3>2,056,918</h3>
                <h5>Currently Talking</h5>
            </div>
        </div>
    </center>

    <div class="bottom-right">
        <h5>v0.0.1</h5>
    </div>
    
    <div class="top-right">
        @if (_user == null) {
            <a class="text-light" href="#">Log in</a>
        }
        else {
            <h4>Logged in:</h4>
            <h4>CoPokBl</h4>
            <a class="text-light" href="#">Log out</a>
        }
    </div>
</div>


@code {
    private User? _user;

    private void Connect() {
        Console.WriteLine("Connecting...");
        NavigationManager.NavigateTo("/Conversation");
    }

    private async Task OnLogin((User?, string) data) {
        _user = data.Item1;
        StateHasChanged();
    }
}