@page "/"
@using OmicronSocial.Data
@using OmicronSocial.Data.Schemas
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<RequireLogin RedirectToLogin="false" Callback="OnLogin"></RequireLogin>

<PageTitle>Omicron Social</PageTitle>

<div class="full-height">
    <center>
        <div class="full-height">
            <div class="text-light">
                <img src="header.png" height="30%" width="30%" alt="image"/>
            </div>

            <div>
                <button class="connect-button btn btn-primary" @onclick="Connect">Start</button>
            </div>

            <div class="p-5">
                <h3>@(Chats.ChatCount * 2)</h3>
                <h5>Currently Talking</h5>
            </div>
        </div>
    </center>

    <div class="bottom-right">
        <h5>v0.0.1</h5>
    </div>
    
    <div class="top-right">
        @if (_isLoadingUser) {
            <h4>Loading...</h4>
        } else
        @if (_user == null) {
            <a class="text-light" href="/ensurelogin">Log in</a>
        }
        else {
            <h4>Logged in:</h4>
            <h4>CoPokBl</h4>
            <button class="btn btn-link text-light" @onclick="LogOut">Log out</button>
        }
    </div>
</div>


@code {
    private User? _user;
    private bool _isLoadingUser = true;

    private void Connect() {
        Console.WriteLine("Connecting...");
        NavigationManager.NavigateTo("/Conversation");
    }

    private async Task OnLogin((User?, string) data) {
        _user = data.Item1;
        _isLoadingUser = false;
        StateHasChanged();
    }

    private async Task LogOut() {
        _isLoadingUser = false;
        StateHasChanged();
        Cookie cookies = new(JsRuntime);
        await cookies.SetValue("refresh_token", "");
        NavigationManager.NavigateTo(NavigationManager.Uri, true);
    }
}